@page "/"

@inject BlogPostService BlogPostService
@inject CategoryService CategoryService

<PageTitle>Latest Posts | BlazingBlog</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h1 class="fs-3">Lastest Posts</h1>
            <hr  />
            @if(!posts.Any())
            {
                <div class="d-flex justify-content-center flex-coloum align-items-center" style="min-height: 260px">
                    <h3>No Blog posts found</h3>
                    <AuthorizeView>
                        <Authorized>
                        <NavLink href="/admin/manage-blogs/new" class="btn btn-primary">Click here to create a new blog post</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <p>Please check back later</p>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            }
            else
            {
                <ul class="list-unstyled">
                    @foreach (var post in posts)
                    {
                        <li class="mb-3">
                            <div class="row">
                                <div class="col-sm-2 bg-primary rounded d-flex justify-content-center align-items-center">
                                    <label class="fs-1 text-uppercase">@post.Title.Substring(0,1)</label>
                                </div>
                                <div class="col-sm-10">
                                    <h2>
                                        <NavLink href="BLOG_POST_DETAIL_PAGE" class="text-decoration-none text-dark fs-5" title="@post.Title">@post.Title</NavLink>
                                    </h2>
                                    <small>
                                        <label>
                                            <NavLink href="CATEGORY_BLOG_POSTS" class="text-decoration-none" title="@post.CategoryName">@post.CategoryName</NavLink>
                                        </label>
                                        <label>
                                            @post.PublishedOn!.Value.ToString()
                                        </label>
                                    </small>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
         <div class="col-sm-3">
            <h3>Categories</h3>
            <hr />
            <ul class="list-unstyled">
                @foreach(var category in categories)
                {
                    <li class="mb-1 border-bottom p-1">
                        <NavLink href="CATEGORY_BLOG_POSTS" class="text-decoration-none fs-6 py-2 text-truncate">@category.Name</NavLink>
                    </li>
                }
            </ul>
            
        </div>
    </div>
</div>

@code {
    private IEnumerable<BlogPost> posts = Enumerable.Empty<BlogPost>();
    private IEnumerable<Category> categories = Enumerable.Empty<Category>();
    protected override async Task OnInitializedAsync()
    {
        var postsTask =  BlogPostService.GetPostsAsync(publishedOnly : true);
        categories = await CategoryService.GetCategoriesAsync();
        posts = await postsTask;
    }

}